<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see https://github.com/techtalk/SpecFlow/wiki/Configuration -->
    <unitTestProvider name="NUnit" />
    <stepAssemblies>
      <!-- <stepAssembly assembly="{name-of-assembly-containing-bindings}" /> -->
      <stepAssembly assembly="PiroPiro.SpecFlow" />
    </stepAssemblies>
  </specFlow>
  <appSettings>

    <!-- base url to point the browser to -->
    <add key="Site" value="http://localhost/PiroPiro.TestSite" />

    <!-- browser factory (selenium)-->
    <add key="PiroPiro.BrowserFactory" value="PiroPiro.Selenium.SeleniumBrowserFactory, PiroPiro.Selenium" />

    <!-- Implicit wait for finding elements on pages (milliseconds) -->
    <add key="PiroPiro.ImplicitWait.Timeout" value="2000" />

    <!-- path to chromedriver.exe (only for driving chrome locally) -->
    <add key="PiroPiro.Selenium.ChromeDriverDir" value="D:\bin" />

    <!-- firefox,chrome,internet explorer,htmlunit -->
    <add key="PiroPiro.Selenium.Driver" value="firefox" />

    <!-- Browser window size (*, 1024) -->
    <add key="PiroPiro.BrowserWindowSize" value="*" />

  </appSettings>
</configuration>